@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway:wght@300;400;500&display=swap");

.mainDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Background Video */
.backVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Brownish Overlay */
.mainDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Brownish color with transparency */
  z-index: -1;
}

/* Text Styling */
.heading1 {
  position: absolute;
  z-index: 20;
  bottom: 1.7rem;
  font-size: 3rem;
  color: rgb(139, 0, 0);
  font-family: "Garamond", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}
.head1 {
  font-family: "Playfair Display", serif;
}
.btn1 {
  background: white;
  width: 10rem;
  height: 3rem;
  border: none;
}
.btn1:hover {
  background: rgb(97, 5, 5);
  border: none;
  color: white;
  transition: 0.5s;
}

/* Wall Image */
.wallImg {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .heading1 {
    font-size: 2.5rem;
  }

  .wallImg {
    height: 10vh;
  }
}

@media (max-width: 480px) {
  .heading1 {
    font-size: 1.2rem;
  }

  .wallImg {
    height: 10vh;
  }
}
